{{>header}}


      <section class="my-5 container d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>{{err}}.</h2>
        <a class="btn btn-primary" href="/">Back to home</a>
        <img src="./images/not-found.svg" width="50%"  alt="Page Not Found">
      </section>